.table > .detail-text > tr > td {
	border-top: 0;
}
.fuckOffPadding > td{
	padding: 1%;
}
#footer-padding > td {
	padding-right: 20px;
}
.white-box-2 {
	padding: 0px;
}

.disableditem {
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
  }

.hoverImage {
  position: relative;
  width: 200px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: gray;
}

.hoverImage:hover .overlay {
	opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

table.table.color-table.success-table.example th.th-header {
  background-color: white;
  color: black;
}

td.vertical-align-middle {
  vertical-align: middle;
}

td.text-align-left {
  text-align: left;
}

td.w0 {
  width: 0%;
}

td.w1 {
  width: 1%;
}

span.text-muted {
  font-weight: 500;
}
span.marginL5 {
  margin-left: 5%;
}

span.message-green {
  font-weight: 500;
  color: #569e2e;
}

span.message-blue {
  font-weight: 500;
  color: #184967;
}

.table-borderless {
  table-layout: fixed;
}

.modal-title {
  font-weight: 450;
}
